body{
    margin:0;
    padding:0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: serif;
}

.container{
    width: 90vw;
    display: flex;
    justify-content: space-between;
}

.container .box{
    text-align: center;
}

.container .box .icon .fa{
    font-size: 80px;
    cursor: pointer;
}

.container .box .icon h4,
.container .box .icon h3 {
    font-weight: 800px;
    margin: 0;
    padding: 2px 5px;
    font-size: 24px;
    position: relative;
    overflow: hidden;
    color: transparent;
    transition-delay: 0.2s;
}
.container .box .fa:hover ~ h4,
.container .box .fa:hover ~ h3 {
color: #000;
transition-delay: 0.33s;

}
.container .box .icon h4::before{
    content: "";
    background: aqua;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 100%;
    transition: 1s;
}

.container .box .icon h3::before{
    content: "";
    background: purple;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 100%;
    transition: 1s;
}

.container .box .fa:hover ~ h3::before{
right: -100%;
}

.container .box .fa:hover ~ h4::before{
left: -100%;
}