body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #240229;
}

.loader {
    width: 500px;
    height: 500px;
    background: linear-gradient(#14ffe9,#ffeb3b,
    #ff00e0);
    animation: spin .5s infinite ease;
    position: relative;
    border-radius: 50%;
}
.loader::after{
    content: "";
    position: absolute;
    top: 50px;
    left: 50px;
    bottom: 50px;
    right: 50px;
    background: #240229;
    border-radius: 50%;
}
@keyframes spin {
    to {
        transform: rotate(0deg);
    }

    from {
        transform: rotate(360deg);
    }
}