*{
    margin: 0;
    box-sizing: border-box;
}

header{
    background: red;
    height: 10vh;
}

h1{
    text-align: center;
    color: white;
    font-size: 50px;
}

.containers{
    height: 85vh;
}

aside {
 height: 100%;
 width: 20%;
 padding-top: 2.5%;
 background: black;
}

aside > .contenedoresLinks {
    height: 20%;
    width: 80%;
    margin: auto;
}

.contenedoresLinks > a{
    display: block;
    font-size: 30px;
    color: blueviolet;
    background: yellow;
}

section{
    width: 80%;
    float: left;
    height: 100%;
    background: f1f1f1;
}