*{
    margin: 0;
    box-sizing: border-box;
}

header{
    background: red;
    height: 10vh;
}

h1{
    text-align: center;
    color: white;
    font-size: 50px;
}

.containers{
    height: 85vh;
}

aside {
 height: 100%;
 width: 20%;
 padding-top: 40px;
 background: black;
}

aside > .contenedoresLinks {

}