body{
    background-color:aqua;
}

.caja{
    background: black;
    margin: 0;
    width: 1340px;
    height: 300px;
    position: relative;
    border-radius:20px;
    border: 3px solid orange;
    overflow: hidden;
}


.caja b{
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: orangered;
    position: absolute;
    animation: 
    moveY 3s linear infinite alternate,
    moveX 4s linear infinite alternate;
}

@keyframes moveX {
    from { 
        left: 0; 
         } 
    to { 
        left: 1300px;
       }
}

@keyframes moveY {
    from {
        top: 0px;
         }
    to {
        top: 260px;
    }
  }